<div class="delivery mt8">
    <!-- Delivery -->
    <div class="block">
        <div class="heading mb4">
            <img src="/static/img/ico/truck.png" alt="truck">
            <sapn class="title">Доставка</sapn>
        </div>
        <ul>
            <li>Новая почта</li>
            <li class="clr2">Достаим через 2 дня</li>
        </ul>
    </div>
    <!-- Card -->
    <div class="block">
        <div class="heading mb4">
            <img src="/static/img/ico/card.png" alt="truck">
            <sapn class="title">Оплата</sapn>
        </div>
        <ul>
            <li>Наложенный платежь</li>
            <li>Visa / MasterCard на сайте</li>
        </ul>
    </div>
    <!-- Delivery -->
    <div class="block">
        <div class="heading mb4">
            <img src="/static/img/ico/money-back.png" alt="truck">
            <sapn class="title">Возврат и обмен</sapn>
        </div>
        <ul>
            <li>В течении 14 дней</li>
        </ul>
    </div>
    <!-- Card -->
    <div class="block">
        <div class="heading mb4">
            <img src="/static/img/ico/warranty.png" alt="truck">
            <sapn class="title">Гарантия</sapn>
        </div>
        <ul>
            <li>4 месяца (от нашего магазина)</li>
        </ul>
    </div>
</div>