{% load static %}
<div class="how_to_order">
    <p class="hd1">КАК ЗАКАЗАТЬ?</p>
    <ul>
        <li>
            <img src="{% static 'img/ico/lp/delivery1_image1.jpg' %}" alt="">
            <div class="info">
                <div class="title">ЗАЯВКА</div>
                <div class="text">Оставьте заявку на нашем сайте, заполнив форму заказа ниже.</div>
            </div>
        </li>
        <li>
            <img src="{% static 'img/ico/lp/delivery1_image2.jpg' %}" alt="">
            <div class="info">
                <div class="title">ОТПРАВКА</div>
                <div class="text">Доставляем заказ в течение 1-3 дней.</div>
            </div>
        </li>
        <li>
            <img src="{% static 'img/ico/lp/delivery1_image3.jpg' %}" alt="">
            <div class="info">
                <div class="title">ПОЛУЧЕНИЕ</div>
                <div class="text">Оплачиваете при получении на почте.</div>
            </div>
        </li>
    </ul>
</div>