{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/shop/catalogue.css' %}">
{% endblock %}

{% block content %}
<div class="content">
    <div class="catalogue">
        <div class="breadcrumbs">
            <a href="/"><img src="{% static 'img/ico/home.png' %}" alt=""></a>
            <span>></span>
            <a href="{% url 'shop:catalogue' %}">Каталог</a>
            {% if category %}
                <span>></span>
                {% for node in category.get_ancestors %}
                    {% if node.image %}
                        <img src="{{ node.image_thmb.xs.path }}" alt="">
                    {% endif %}
                    <a href="{{ node.get_absolute_url }}">{{ node.name }}</a>
                    {% if forloop.counter0 < category.get_ancestors|length %}
                        <span>></span>
                    {% endif %}
                {% endfor %}
                {% if category.image %}
                        <img src="{{ category.image_thmb.xs.path }}" alt="">
                {% endif %}
                <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
            {% endif %}
        </div>
        <div class="subcategories">
            {% for subcategory in category.get_children %}
                <a href="{{ subcategory.get_absolute_url }}">{{ subcategory.name }}</a>
            {% endfor %}
        </div>
        <h1 class="h2 semibold mb40">{{ category.name }}</h1>
        <ul class="catalogue__list">
            {% for product in products %}
                {% include 'shop/catalogue/catalogue__product.html' %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

