{% load static %}

<footer>
    <div class="content">
        <div class="about">
            <a href="/" class="logo">
                <img  src="{% static 'img/logo.png' %}" alt="">
                <p>Полезные</br>Штуки</p>
            </a>
            <div class="info">
                <p class="h5">Mагазин полезных и функциональных товаров.</p>
                <p class="h5 pt8">© Все права защищены</p>
            </div>
            
        </div>
        <div class="information">
            <div class="links">
                <p>Информация</p>
                <ul>
                    <a href=""><li>Условия оплаты и доставки</li></a>
                    <a href=""><li>Гарантия на товар</li></a>
                    <a href=""><li>Публичная оферта</li></a>
                </ul>
            </div>
            <div class="links">
                <p>Контакты</p>
                <ul>
                    <li>Тел.: <a href="tel:+380930403614">+38 093 040 36 14</a></li>
                    <li>E-mail: <a href="email:poleznie-shtuki@gmail.com">poleznie-shtuki@gmail.com</a></li>
                     
                </ul>
            </div>
        </div>
    </div>
</footer>