{% verbatim %}
<template id="tpl_order_products">
    {% if products|length %}
        {% for product in products %}
            <li class="product">
                <a href="{{ product.link }}" class="image">
                    <img src="{{ product.image }}" alt="product">
                </a>
                <div class="info">
                    <p class="title h5 upper semibold">{{ product.name|capitalize }} - {{ product.color }}</span></p>
                    <div class="counter" id="cart-product__counter">
                        <span class="action minus">-</span>
                        <input id="product__quantity" data-product_id="{{ product.product_id }}" data-variant_id="{{ product.variant_id }}" data-cart-update="true" type="number" value="{{ product.quantity }}" min=1 max=100>
                        <span class="action plus">+</span>
                    </div>
                    <!-- TOTAL -->
                    <p class="total">
                        <span data-price='{{ product.price }}' class="total h5">{{ product.total }}</span>
                        <span class="pl4 h5">грн.</span>
                    </p>
                    <div class="remove" onclick="CartDelete(this)" data-product_id="{{ product.product_id }}" data-variant_id="{{ product.variant_id }}">
                        <img class="cart_product_remove" width=8 height=8 src="/static/img/ico/close.png" alt="x">
                    </div>
                </div>
            </li>
        {% endfor %}
        <p class="order__total-block semibold h4 mt24">Всего к оплате: <span id='order_total'>{{ cart.total.total }}</span> <span class="currency"> грн.</span></p>
    {% else %}
        <p class="h3 p24 grey">Список товаров пуст</p>
    {% endif %}
</template>
{% endverbatim %}




