.ico {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
}
.ico-8 {
    width: 8px;
    height: 8px;
    object-fit: contain;
    object-position: center;
}
.ico-16 {
    width: 16px;
    height: 16px;
    object-fit: contain;
    object-position: center;
}
.ico-24 {
    width: 24px;
    height: 24px;
    object-fit: contain;
    object-position: center;
}
.ico-32 {
    width: 32px;
    height: 32px;
    object-fit: contain;
    object-position: center;
}
.ico-48 {
    width: 48px;
    height: 48px;
    object-fit: contain;
    object-position: center;
}
.ico-56 {
    width: 56px;
    height: 56px;
    object-fit: contain;
    object-position: center;
}
.ico-64 {
    width: 64px;
    height: 64px;
    object-fit: contain;
    object-position: center;
}
.ico-72 {
    width: 72px;
    height: 72px;
    object-fit: contain;
    object-position: center;
}
.ico-80 {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
}
.ico-88 {
    width: 88px;
    height: 88px;
    object-fit: contain;
    object-position: center;
}
.ico-96 {
    width: 96px;
    height: 96px;
    object-fit: contain;
    object-position: center;
}